<div fxflex>
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout fxLayoutGap="20px" >
    <span ></span>
    <span fxFlex.lt-md="grow"  class="logo-center"> 
      <img src="assets/logo.png" width="95" height="60" alt="AMaterial Logo" />
    </span>
  <button fxFlexAlign="center" fxFlexOrder.lt-md="-1"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div fxLayout fxLayoutGap="1px"  fxHide.lt-md="true">
      <button mat-button>Dashboard</button>
      <button mat-button>Users</button>
      <button mat-button>Settings</button>      
  </div>
  
  <div class="right"> 
    <button mat-icon-button>
        <mat-icon matBadge="22" matBadgePosition="above after" [matMenuTriggerFor]="appMenu" matBadgeColor="accent">notification_important</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before" yPosition="below">
        <mat-list>
            <mat-toolbar mat-subheader>Account</mat-toolbar>
            <mat-divider></mat-divider>
            <div *ngFor="let folder of folders">
              <button mat-menu-item>
                  <mat-icon class="menu-icon">{{folder.icon}}</mat-icon>
                  <span>{{folder.name}}</span>
              </button>
              
              <mat-divider></mat-divider>
            </div>
            <mat-divider></mat-divider>
            <mat-toolbar mat-subheader>Settings</mat-toolbar>
            <mat-divider></mat-divider>
            <div *ngFor="let note of notes">
              <button mat-menu-item>
                  <mat-icon class="menu-icon">{{note.icon}}</mat-icon>
                  <span>{{note.name}}</span>
              </button>
              
              <mat-divider></mat-divider>
            </div>
          </mat-list>
    </mat-menu>
  </div>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"  [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashboard></app-dashboard> 
  </mat-sidenav-content>
</mat-sidenav-container>
</div>